/*
* The styles for EBSCO module
*/
@CHARSET "UTF-8";

/** General ***/

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.clear {
    clear: both;
}

.offscreen {
    display: none;
}

.spinner {
    width: 16px;
    height: 16px;
    background: url("../images/ajax_loading.gif") no-repeat left top;
    display: none;
}

.highlight {
    font-weight: 600;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eeeeee -moz-use-text-color -moz-use-text-color;
  border-image: none;
  border-style: solid none none;
  border-width: 1px 0 0;
  margin-bottom: 20px;
  margin-top: 20px;
  box-sizing: content-box;
  height: 0;
}

.label {
  border-radius: 0.25em;
  color: #ffffff;
  display: inline;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  padding: 0.2em 0.6em 0.3em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}
.label a {
  color: #ffffff;
}
.label:empty {
  display: none;
}
.btn .label, .facets-toggle .label {
  position: relative;
  top: -1px;
}
a.label:hover, a.label:focus {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}
.label-default {
  background-color: #999999;
}
.label-default[href]:hover, .label-default[href]:focus {
  background-color: #808080;
}
.label-primary {
  background-color: #428bca;
}
.label-primary[href]:hover, .label-primary[href]:focus {
  background-color: #3071a9;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover, .label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover, .label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover, .label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover, .label-danger[href]:focus {
  background-color: #c9302c;
}

/** Search list ***/
.page-ebsco-results .borders .sidebar .region, .borders .content-wrapper{
  border:none !important;
}

.page-ebsco-results h1#page-title {
  display: none;
}

.ebsco .result {
    width: 650px;
}

.ebsco .record-number {
  font-size:.9em;
}

.ebsco .span-2 {
    width: auto;
    max-width: 70px;
    margin-right: 10px;
    float: left;
}

.ebsco .span-9 {
    float: none;
    overflow: auto;
    width: auto;
    margin-right: 0;
}

.ebsco .pagination {
   margin-bottom: 0;
   padding: 0.2em
}

.ebsco p.submit {
    padding: 10px 0;
}

.ebsco .jumpMenu {
    max-width: 130px;
}

.ebsco ul.custom-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ebsco ul.custom-links li {
    display: inline-block;
    padding-left: 0;
    padding-right: 10px;
    margin-left: 10px;
    border-right: 1px solid #CCCCCC;
}

.ebsco ul.custom-links li:first-child {
    margin-left: 0;
}

.ebsco ul.custom-links li:last-child {
    padding-right: 0;
    border-right: 0 none;
}

/** Side facets **/

#block-ebsco-ebsco-facets h2 {
    font-weight: bold;
}

#block-ebsco-ebsco-facets {
    padding: 5px !important;
}

#block-ebsco-ebsco-facets dl {
    margin: 5px 0;
    padding: 0;
}

#block-ebsco-ebsco-facets dl dt {
    font-size: 115%;
    padding: 5px;
    background-color: #eeeeee;
}

#block-ebsco-ebsco-facets dd {
    font-weight: normal !important;
    margin: 0;
    padding: 5px !important;
    border-bottom: 1px solid #dddddd;
}

#block-ebsco-ebsco-facets dd.submit input {
    margin: 0;
}

#block-ebsco-ebsco-facets dl dd:last-child {
    border-bottom: none;
}

#block-ebsco-ebsco-facets dd label {
    font-weight: normal;
    font-family: Arial;
    padding: 0 3px;
}

#block-ebsco-ebsco-facets dd label {
    display: inline;
}

#block-ebsco-ebsco-facets dl.expandable:hover {
    cursor: pointer;
}

#block-ebsco-ebsco-facets dl.expandable:hover dt span {
    color: #444444;
}

#block-ebsco-ebsco-facets .narrow-list.filters {
    background-color: orange;
}

#block-ebsco-ebsco-facets .narrow-list.filters a {
    color: white;
}


/** Results View ***/

.record, .record-detail {
  overflow: hidden;
}

.btn-warning {
  background-color: #f0ad4e;
  border-color: #eea236;
  color: #ffffff;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
  background-color: #ec971f;
  border-color: #d58512;
  color: #ffffff;
}
.btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning.active[disabled], fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning .badge {
  background-color: #ffffff;
  color: #f0ad4e;
}
.btn-danger {
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #ffffff;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
  background-color: #c9302c;
  border-color: #ac2925;
  color: #ffffff;
}
.btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.search-results.ebsco .doc-title {
  font-family: "Roboto",sans-serif;
  font-size: 1.2em !important;
  font-weight: 400;
  margin: 0;
}

.search-results.ebsco .doc-title a,.search-results.ebsco .ref a {
    color: #333;
}

.search-results.ebsco .doc-title a:hover,.search-results.ebsco .ref a:hover {
    color: #555;
}
.search-results.ebsco .authors{
	font-weight: 500;
}
.search-results.ebsco .ref{
	font-style: italic;
}
.search-results.ebsco .authors,.search-results.ebsco .ref {
	font-size: .9em;
  margin: 0 !important;
}
#MoreDetails.accordion {
  font-size: 0.9em;
  margin: 5px 0;
}
.record-subjects {
  font-weight: 400;
}

.MoreButton {
  padding: 15px;
}
/** Detailed view ***/

.ebsco-record .toolbar {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 1em;
    min-height: 2em;
    padding-left: 1em;
}

.ebsco-record.push-5 {
    margin: 0;
}

.ebsco-record .span-13 {
    min-width: 540px;
    max-width: 690px;
    width: auto;
    float: left;
}

.ebsco-record .span-13 table {
    margin-top: 0;
}

.ebsco-record .span-13 table tr td {
    word-break: break-all;
}

.ebsco-record .span-4 {
    max-width: 150px;
    min-width: 80px;
    width: auto;
    margin: 0 0 0 10px;
    text-align: center;
    float: left;
}

.ebsco-record .external-links {
    border: 1px solid #eeeeee;
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}

.ebsco-record .external-links li {
    display: inline-block;
    padding-left: 0;
    padding-right: 10px;
    margin-left: 10px;
    border-right: 1px solid #CCCCCC;
    line-height: 32px;
    margin: 5px;
}

.ebsco-record .external-links li:last-child {
    border-right: 0 none;
}

.external-link img {
    vertical-align: middle;
    padding-right: 5px;
}

.top-login-message {
    margin-top:10px;
    width: 100%;
    text-align: center;
}

.ebsco-record .record {
    width: 100%;
    padding: 0;
}

.ebsco-record .book-jacket {
    max-width: 150px;
}

.ebsco-record .html {
    background-color: white;
    padding:10px 0;
    border: 0;
}


/** Basic search form ***/

#ebsco-basic-search-form .form-item-lookfor,
#ebsco-basic-search-form .form-item-type {
    display: inline !important;
}

#ebsco-basic-search-form #edit-links {
    display: inline;
    margin: 0;
    padding: 0;
    border: none 0;
    position: static;
}

#ebsco-basic-search-form #edit-offscreen {
    display: none;
}

#ebsco-basic-search-form .form-item-remember label {
    font-weight: bold;
}

/*
#ebsco-sort-form {
    margin : 10px 0;
}

#ebsco-sort-form > div {
    border-bottom: 1px solid #CCCCCC;
}
*/

#ebsco-sort-form label,
#ebsco-sort-form .form-item {
    display: inline-block !important;
    margin-left: 5px;
}

#ebsco-sort-form .form-item, .form-actions{
  margin-top: 0 !important;
}

#ebsco-sort-form .form-item:first-child {
    float: right;
}

#ebsco-sort-form .form-item:last-child {
    float: left;
}

/** Advanced search form ***/

.ebsco-advanced ._advanced-row {
    border: 0 none;
    padding: 0;
    margin: 10px;
    top: 5px;
}

.ebsco-advanced #edit-rows {
    margin-bottom: 20px;
}

.ebsco-advanced ._advanced-row .fieldset-wrapper {
    margin: 0 !important;
    padding: 0;
}

.ebsco-advanced .form-item-group0-lookfor label {
    display: inline-block;
    text-align: right;
    width: 100px;
}
.ebsco-advanced .form-type-radio label {
    display: inline-block;
    text-align: left;
    width: 90%;
}

.ebsco-advanced #edit-add-row {
    border: 0 none;
    padding: 0;
    margin: 10px;
    top: 5px;
}

.ebsco-advanced #edit-add-row .fieldset-wrapper {
    margin-top: 5px;
}

.ebsco-advanced #edit-links {
    margin-bottom: 20px;
    text-align: center;
}

.ebsco-advanced #edit-links .fieldset-wrapper {
    margin-top: 10px;
}

.ebsco-advanced #edit-limiters {
    width: 99%;
}

.ebsco-advanced #edit-modes {
    width: 49%;
    float: left;
}

.ebsco-advanced #edit-modes {
    width: 49%;
    float: left;
}


.ebsco-advanced #edit-expanders {
    width: 49%;
    float: right;
}

.ebsco-advanced #edit-limiters label {
    font-weight: normal;
}

.ebsco-advanced #edit-limiters .form-type-select label {
    display: block;
}

.ebsco-advanced #edit-limiters hr {
    margin: 15px 0;
    height: 1px;
    background-color: #CCCCCC;
    color: #CCCCCC;
    border: 0 none;
}

.dateSlider {
    width: 150px;
    display: inline-block !important;
    margin: 0 10px;
}


/** Icons ***/

.page-ebsco .icon {
    background: url("../images/sprites_32.png") no-repeat top left;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    padding: 0  0 0 36px !important;
}

.page-ebsco .icon.ebook {
    background-position: 0 0;
}

.page-ebsco .icon.html {
    background-position: 0 -42px;
}

.page-ebsco .icon.pdf {
    background-position: 0 -84px;
}

.page-ebsco .icon13 {
    background: url("../images/sprites_32.png") no-repeat top left;
    padding-left: 18px !important;
    width: 13px;
    height: 13px;
}

.page-ebsco .icon13.collapsed {
    background-position: 0 -126px;
}

.page-ebsco .icon13.expanded {
    background-position: 0 -149px;
}

.page-ebsco .icon16 {
    background: url("../images/sprites_32.png") no-repeat top left;
    padding-left: 21px !important;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.page-ebsco .icon16.tick {
    background-position: 0 -171px;
}

.page-ebsco div.doc-type {
    width: 70px;
    min-height: 10px;
    text-align: center;
}

.item-status {
    border-radius: 2px;
    color: #fff;
    float: left;
    font-size: 95%;
    margin-bottom: 4px;
    margin-right: 5px;
    padding: 0;
    text-align: center;
    width: 30px;
}

.item-status, .webressources {
    font-size: 12px;
    line-height: normal;
}

.item-web {
    background: none repeat scroll 0 0 #0281e3;
    color: #fff !important;
    width: 35px !important;
}

.item-pdf {
    background: none repeat scroll 0 0 #d9534f;
    color: #fff !important;
    width: 35px !important;
}

#sortAndPerPage, #previousNextDocument {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.page_links {
    border: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
    padding: 6px 12px 6px 0;
}

.pull-right {
    float: right !important;
}

#sidebar, #facets {
    padding-bottom: 10px;
}
#facet-panel-collapse {
    border-top: medium none;
    box-shadow: none;
    max-height: none;
    padding-left: 0;
    padding-right: 0;
}
.facets-toggle {
    border-color: #dddddd;
}
.facets-toggle .icon-bar {
    background-color: #888888;
}
.facet-values {
    display: table;
    width: 100%;
}
.facet-values li {
    display: table-row;
}
.facet-values li .remove {
    text-indent: 12px;
}
.facet-values li .remove .glyphicon {
    top: 0.1em;
    vertical-align: text-top;
}
.facet-values li .remove:hover {
    color: #d9534f;
}
.facet-values .facet-label {
    -moz-hyphens: auto;
    display: table-cell;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 1em;
    text-indent: -15px;
    word-break: break-all;
}
.facet-values .facet-count {
    display: table-cell;
    text-align: right;
    vertical-align: top;
}
.facet_extended_list .sort_options {
    text-align: right;
}
.facet_extended_list .prev_next_links {
    float: left;
}
.collapse-toggle {
    cursor: pointer;
}
.panel-heading.collapse-toggle .panel-title:after {
    color: grey;
    content: "";
    float: right;
    font-family: "Glyphicons Halflings";
    font-size: 0.8em;
    line-height: normal;
}
.panel-heading.collapse-toggle.collapsed .panel-title:after {
    content: "";
}
@media (max-width: 768px) {
.facets-toggle {
    margin-top: 3px;
}
#facets .top-panel-heading {
    border: 1px solid #cccccc;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 1em;
}
}
.pivot-facet ul, .pivot-facet .pivot-facet {
    padding-bottom: 6px;
    padding-left: 16px;
}


